.navbarLogo{
    height:70px;
    display:flex;
    align-items: center;
    padding: 20px 36px;
    padding-left: 4%;
    background: #FFFFFF;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logoImg{
    height: 25px;
    width: 81px;
    border-radius: 0px;
}
.main{
    display: flex;
    flex-direction: column;
    padding-left: 4%;
}
.card{
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 0%;
    display: flex;
    flex-direction: column;
    width: 29%;
    position: relative;
    float: left;
}
.heroLogo{
    max-width: 70%;
    align-self: center;
    margin-top: 20px;
}
.cardDetail{
    display: flex;
    padding-top: 10px;
}
span{
    padding: 1px;
}
.bold{
    font-weight: bold;
}
.cardBadge {
    position: absolute;
    background-color: white;
    padding: 5% 2%;
    border-radius: 2px;
    font-weight: bold;
    font-family: Poppins;
    font-size: 70%;
    font-weight:300;
    margin: 3% 4%;
    line-height: 15%;
    text-align: center;
}

.mainHeader{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}
.mainParagraph{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;   
}
.cardText{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    padding: 1%;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
}
.star{
    Width:14px;
    Height:14px;
}
.heightReduce{
    margin-top: -2%;
}
.heightReduceCardText{
    margin-top: -1%;
}